
.backbar{
    height: 8.5rem;
    width: 100%;
    background-image: url(../static/backbar.svg);
    background-repeat: no-repeat;
    display: flex;
    color:#fff;
    justify-content: center;
}

.backbar p{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.backbar a{
    text-decoration: none;
    color:#fff;
    display: flex;
    height: 3rem;
}

.backbar .options{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.backbar .logo{
    width: 5rem;
    height:5rem;
}

.back_btn{
    height: 3rem;
    width: 1rem;
    margin-top: 1.2rem;
    display: flex;
    align-items: flex-end;
}

.back_btn:hover{
    cursor: pointer;
}