.contratacao{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 8rem;
}

.contratacao .heading{
    display: flex;
    align-items: center;
    color:#861F83;
    transform: scale(2.3);
    font-weight: 600;
    margin-top: 3rem;
}

.contratacao img{
    margin-bottom: 2rem;
}

.contratacao .button_div{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color:#861F83;
    border-radius: 0.5rem;
    padding:0.5rem;
    margin-bottom: 1rem;

}

.contratacao .button_bigger{
    width: 100%;
    font-size: 1.5rem;
    color:#FFF;
    text-decoration: none;

}

.tooltip{
    width: 8rem;
    margin-left: auto !important;
    background-color: #ca3fc6 !important;
    margin-top: 1rem !important;
}

.contratacao .button_bigger p{
    margin: 0;
    padding-left: 1rem;
}