version: "3"

services:
  raizen-db:
    image: "postgres:11"
    container_name: "raizen-db"
    environment:
      - POSTGRES_DB=raizen-db
      - POSTGRES_USER=<NOME_USUARIO>
      - POSTGRES_PASSWORD=<SENHA_USUARIO>
    ports:
      - "5432:5432"
    restart: "always"
